<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ray.mapper.IdGeneratorMapper">

	<update id="updteSequenceNoById" parameterType="com.ray.model.IdGenerator">
		update id_generator
			set
			sequence_no = sequence_no + step
			,sys_version = sys_version+1
			,ts = now()
			,update_time = now()
		where primary_key = #{primaryKey,jdbcType=VARCHAR}
	</update>

</mapper>
